<div class="row">
    <div class="col-xs-7">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-7">
        <h1>{{recipe.name }}</h1>
    </div>
</div>
<div class="row">
        <div class="col-xs-7">
            <div class="btn-group" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Manage Recipe <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To shopping list</a></li>
                        <li><a href="#">Edit Recipe</a></li>
                        <li><a href="#">Delete Recipe</a></li>
                    </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-7">
            {{recipe.description}}
        </div>
    </div>
    <div class="row">
            <div class="col-xs-7">
                <ul class="list-group">
                    <li class="list-group-item"
                    *ngFor="let ing of recipe.ingredients">
                {{ing.name}} - {{ing.amount}}
                </li>
                </ul>
            </div>
        </div>