<div class="row">
        <div class="col-xs-7">
            <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <ul class="list-group">
            <a 
            class="list-group-item" 
            style="cursor: pointer"
            *ngFor="let ingredient of ingredients"
            >
        {{ingredient.name}} ({{ingredient.amount}})
        </a>
        </ul>
        </div>
    </div>

    