<div class="row">
<div class="col-xs-7">
    <button class="btn btn-success"> New Recipe</button>
</div>
<hr>
</div>
<div class="row">
    <div class="col-xs-7">
        <app-recipe-item *ngFor="let recipeElement of recipes"
        [recipe]='recipeElement'></app-recipe-item>
    </div>
</div>
